services:
  - type: web
    name: habit-tracker-api
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        sync: false
      - key: TZ
        value: Asia/Kolkata
      - key: FRONTEND_URL
        sync: false
      - key: PORT
        value: 5000
